/**app.wxss**/

@media only screen and (max-width: 600px) {
  page {
    max-height: 100vh;
    // background-color: lightblue;
    font-size: 16px;

  }
}

/* 媒体查询：中等屏幕（平板电脑） */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  page {
    max-height: 100vh;
    // background-color: lightgreen;
    font-size: 18px;
  }

}

/* 媒体查询：大屏幕（桌面电脑） */
@media only screen and (min-width: 1025px) {
  page {
    max-height: 100vh;
    // background-color: lightyellow;
    font-size: 20px;
  }
}
page {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}