/* pages/userlogin/userlogin.wxss */


page {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;

  // 顶部
  .top_box {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    .constom {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4rem;
      padding: 0.2rem 0.7rem;
      justify-content: space-between;

      text {
        margin: 0 0.7rem;
        color: #ccc;
      }

      image {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .title {
      font-weight: bold;
      font-size: 1.3rem;
      margin-right: 6rem;
      margin-bottom: 0.2rem;
    }
  }
}